//Базовые цвета типографики
@text: #333;

//Шрифты
@Font: Montserrat, sans-serif;

//Толщина шрифта 
@fw-thin: 300; 
@fw-norm: 400;
@fw-medium: 500;
@fw-s-bold: 600;
@fw-bold: 700;

//Межстрочный интервал
@lh-small: 1.2;
@lh-big: 1.5;

//Шаг шрифта


//Max-width
@content-width: 1500px;
@1200: 1200px;
@1110: 1110px;
@1023: 1023px;
@920: 920px;
@850: 850px;
@767: 767px;
@550: 550px;
@400: 400px;